{% extends 'base.html' %}

{% block title %}Join Now - Skill-Link{% endblock %}

{% block content %}
<section id="hero-join" style="height:90vh;display:flex;align-items:center;justify-content:center;text-align:center;color:white;background:radial-gradient(circle at 20% 30%, #1f1c2c, #000000);position:relative;overflow:hidden;">   <div class="container text-center">

        <h1 class="display-4 fw-bold mb-3">
            Join Skill-Link 🚀
        </h1>

        <p class="lead mb-4">
            Choose how you want to get started
        </p>

        <!-- OPTIONS -->
        <div class="d-flex gap-4 justify-content-center flex-wrap">

            <a href="{% url 'freelancerapp:freelancersignup' %}" 
               class="btn btn-outline-light px-5 py-3 rounded-4 shadow">
                👨‍💻 Freelancer
            </a>

            <a href="{% url 'companyapp:companysignup' %}" 
               class="btn btn-warning px-5 py-3 rounded-4 shadow fw-bold">
                🏢 Company
            </a>

        </div>

    </div>
</section>
{% endblock %}  